* {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    display: block;
    color: #212121;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.ma-t {
    margin-top: 40px;
}
.ma-b {
    margin-bottom: 40px;
}
.ma-tb {
    margin-top: 40px;
    margin-bottom: 40;
}
.pa-b {
    padding-bottom: 40px;
}
.pa-t {
    padding-top: 40px;
}
.pa-tb {
    padding-top: 40px;
    padding-bottom: 40px;
}