.home-about {
    background: $grey;
    .home-about-content {
        p {
            margin-bottom: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

.card-one {
    position: relative;
    .card-one-img {
        height: 250px;
        width: 100%;
        overflow: hidden;
        position: relative;
        border: 1px solid $darkGrey;
        transition: all 0.5s ease;
        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border: 12px solid #f9f8f9;
            z-index: 0;
            border: 12px solid #f9f8f9;
            transition: all 0.5s ease;
        }
        &::before {
            z-index: 0;
            transition: all 0.5s ease;
        }
        &::after {
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.5s ease;
        }
    }
    &:hover {
        .card-one-img {
            &::before {
                border-width: 0;
            }
            &::after {
                border-width: 0;
                opacity: 1;
                z-index: 1;
            }
        }
    }
    .card-one-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        width: 100%;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;
        z-index: 2;
        a {
            color: $white;
            text-transform: capitalize;
            &:hover {
                color: $orange;
            }
        }
    }
    &:hover {
        .card-one-text {
            visibility: visible;
            opacity: 1;
            
        }
    }
}
